@import "tailwindcss";
@config "../../tailwind.config.js";
@tailwind utilities;

:root {
  --color-bg: #ffffff;
  --color-error: #f11c0e;
  --color-success: #2b9429;
  --color-gray: #747474;
  --color-black: #000000;
  --color-red: #ff0000;

  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}