@import "tailwindcss";

:root {
  /* background */
  --bg-color: #ffffff;

  background-color: var(--bg-color);
  scroll-behavior: smooth;

  /* error */
  --error-color: #f11c0e;
  /* success */
  --success-color: #2b9429;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}